     body {
        font-size: 0;
        background-color: #d6e1e2;
     }

     .chat-window {
        width: 260px;
        /*height: 335px;*/
        margin: 0 auto 0 auto; 
        text-align: center; 
    }

    .chat-window header {
        background-color: #ffffff;
        border-bottom: solid #d1d1d1 1px;
/*        -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.26);*/
    }

    .icon-one, .icon-two {
        float: left;
        opacity: 0;
        height: 0;
        width: 0;
        margin-right: 10px;
        padding: 5px 5px;
    }

    .greeting, .greeting p, .circles{
        opacity: 0;
        width: 0;
        height: 0;
    }

    .response, .response p {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .chat-window header img {
        opacity: 0;
        height: 12px;
        width: 47px;
        margin: 5px auto 5px auto; 
    }

    .trans-wrap {
        position: absolute;
        top: -340px;
        width: 260px;
        /*height: 335px;*/
        background-color: #def2f4;
        overflow: scroll;
        border-radius: 0px 0px 5px 5px; 
        -moz-border-radius: 0px 0px 5px 5px; 
        -webkit-border-radius: 0px 0px 5px 5px; 
        -webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.26);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.26);
    }

    .feed .icon img {
        display: inline-block;
        position: relative;
        float: left;
        background-color: #ffffff;
        margin: 5px 5px;
        padding: 5px 5px;
        border-radius: 5px; 
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px;
        -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.26);
        box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.26);
    }

    .message-wrapper {
        clear: both;
    }

    .feed .message {
        position: relative;
        float: left;
        background-color: #ffffff;
        min-height: 41px;
        margin: 5px 5px;
/*        padding: 14px 10px 0 10px;*/
        border-radius: 5px; 
        -moz-border-radius: 20px; 
        -webkit-border-radius: 20px;
        -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.26);
        box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.26);
    }

    .feed .message.single-line {
        font-size: 12px;
        padding: 14px 10px 0 10px;
    }

    .feed .message.multi-line {
        width: 70%;
        padding: 10px 10px 10px 10px;
    }

    .feed .message p {
        text-align: left;
        margin: 0 0;
        padding: 0 0;
        background-color: transparent;
    }

    input {
        color: #ffffff;
        width: 100%;
        text-align: left;
        margin: -5px 0 0 0;
        padding: 0 0 0 0;
        background-color: transparent;
        border: none;
    }

    textarea, input, button { 
        outline: none; 
    }

   .feed .message.question {
        opacity: 0;
        width: 0%;
        padding-left: 15px;
        background-color: #00a1b0;
        color: #ffffff;
    }

    .circle {
        opacity: 0;
        float: left;
        width: 10px;
        height: 10px;
        background: #00a1b0;
        margin-top: 2px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }

    .circle-right-margin {
        margin-right: 5px;
    }

    .feed button {
        font-size: 10px;
        color: #ffffff;
        background-color: #537578;
        outline:none;
        border: none;
        width: 100%;
        margin-top: 5px;
        padding-top: 2px;
    }

    .allCornersRounded {
        border-radius: 10px 10px 10px 10px ; 
        -moz-border-radius: 10px 10px 10px 10px ; 
        -webkit-border-radius: 10px 10px 10px 10px ;  
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; 
    }

    .topCornersRounded {
        border-radius: 10px 10px 0 0; 
        -moz-border-radius: 10px 10px 0 0; 
        -webkit-border-radius: 10px 10px 0 0;   
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .feed button:hover {
        box-shadow: 0 0 7px #00a1b0;
    }

    .menu {
        opacity: 0;
        height: 0;
        text-align: left;
        padding: 5px 10px 0 5px;
        background-color: #aad4d8;
        border-radius: 0px 0px 15px 15px; 
        -moz-border-radius: 0px 0px 15px 15px; 
        -webkit-border-radius: 0px 0px 15px 15px; 
    }

    .showMenu {
        font-size: 12px;
        opacity: 1;
        height: 65px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .hideMenu {
        font-size: 0
        opacity: 0;
        height: 0;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    ul {
        font-size: 10px;
        margin: 0 0 0 10px;
        padding: 0 0 0 10px;
    }

    .menu a {
        color: #ffffff;
    }

    .display-none {
        display: none;
    }

    li {
        height: 0;
        color: #ffffff;

        /*padding-bottom: 5px;*/
    }

    .li-height {
        height: 25px;
    }

 /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

/*        body {
            border: solid orange 1px;
        }*/

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

/*        body {
            border: solid blue 1px;
        }*/

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

/*        body {
            border: solid green 1px;
        }*/

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

/*        body {
            border: solid yellow 1px;
        }*/

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

/*        body {
            border: solid red 1px;
        }*/

    }
